
NET "X1(3)" LOC = "A6" 							| IOSTANDARD = LVCMOS33;
NET "X1(2)" LOC = "B6" 							| IOSTANDARD = LVCMOS33;
NET "X1(1)" LOC = "E7" 							| IOSTANDARD = LVCMOS33;
NET "X1(0)" LOC = "F7" 							| IOSTANDARD = LVCMOS33;

NET "X0(3)" LOC = "A13" 						| IOSTANDARD = LVCMOS33;
NET "X0(2)" LOC = "B13" 						| IOSTANDARD = LVCMOS33;
NET "X0(1)" LOC = "A14" 						| IOSTANDARD = LVCMOS33;
NET "X0(0)" LOC = "B14" 						| IOSTANDARD = LVCMOS33;


# NET "LED_F9" LOC = "F9" 						| IOSTANDARD = LVCMOS33;
# NET "LED_E9" LOC = "E9" 					  	| IOSTANDARD = LVCMOS33;
# NET "LED_D11" LOC = "D11" 					| IOSTANDARD = LVCMOS33;
# NET "LED_C11" LOC = "C11" 					| IOSTANDARD = LVCMOS33;
NET "Y(3)" LOC = "F11" 			| DRIVE = 2	| IOSTANDARD = LVCMOS33;
NET "Y(2)" LOC = "E11" 			| DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "Y(1)" LOC = "E12" 			| DRIVE = 2 | IOSTANDARD = LVCMOS33;
NET "Y(0)" LOC = "F12" 			| DRIVE = 2 | IOSTANDARD = LVCMOS33;

NET "S" LOC = "C15" 								| IOSTANDARD = LVCMOS33;

#NET "Clk_50MHz"  LOC = "C9" 					| IOSTANDARD = LVCMOS33;
NET "Clk_1MHz_in" LOC = "B8" 					| IOSTANDARD = LVCMOS33;
NET "Clk_1MHz_out" LOC = "D10"| DRIVE = 8 | IOSTANDARD = LVCMOS33;

# NET "SW3_N17" LOC = "N17" 					| IOSTANDARD = LVCMOS33;
# NET "SW2_H18" LOC = "H18" 					| IOSTANDARD = LVCMOS33;
# NET "SW1_L14" LOC = "L14" 					| IOSTANDARD = LVCMOS33;
# NET "SW0_L13" LOC = "L13" 					| IOSTANDARD = LVCMOS33;

#NET "BTN_WEST_D18" LOC = "D18" | pulldown| IOSTANDARD = LVCMOS33;
#NET "BTN_EAST_H13" LOC = "H13" | pulldown| IOSTANDARD = LVCMOS33;
